“#LR_4”

# ігнорувати всі файли
	*.a
# Ігнорувати файл TODO тільки в поточній теці,
	/TODO
# Ігнорувати усі файли в теці build/
	build/
# Ігнорувати усі .pdf файли 
	*.pdf
# Ігнорування текстових файлів
	*.txt
